{% extends "base.html.twig" %}

{% block body %}
    <h1>Modifications du commentaire</h1>
    <form method="post">
        <input type="text" name="Auteur" placeholder="Auteur" value="{{ comment.Auteur }}">
        <input type="email" name="Mail" required placeholder="Votre email" value="{{ comment.Mail }}">
        <textarea name="Comment" id="comment" class="form-control" cols="30" rows="3">{{ comment.Comment }}</textarea>

        <button class="btn btn-primary btn-sm pull-right" id="submit_comment">Envoyer</button>
    </form>

{% endblock %}