{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification de la catégorie "{{ categorie.Libelle }}"</h1>
    <form method="post">
        <div>Libellé :</div>
        <input type="text" name="Libelle" value="{{ categorie.Libelle }}"<br>
        <div>Icône :</div>
        <input type="text" name="icone" value="{{ categorie.icone }}"><br>

        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}